@at-root {
  $theme: 'light';
  @import 'common';
}

@at-root {
  $theme: 'light';
  @import 'common-colors';
}

[data-theme="dark"] {
  $theme: 'dark';
  @import 'common-colors';
}

@media screen and (prefers-color-scheme: dark) {
  [data-theme="browser"] {
    $theme: 'dark';
    @import 'common-colors';
  }
}






[data-theme=dark] body.page-minimal {
  background: linear-gradient(90deg, rgba(106,52,112,1) 20%, rgba(106,52,112,1) 27%, rgba(0,160,128,1) 100%);
  background-size: cover;
  background-attachment: fixed
}

[data-theme=dark] .card {
  background-color: #ababab5e;
}
.card {
  background-color: #ababab5e;
}

.card {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
}

[data-theme=dark] .bg-primary-dark {
  background-color: #dcdcdc7a!important;
}

.bg-primary-dark {
  background-color: #dcdcdc7a!important;
}


[data-theme=dark] label {
  color: rgba(255,255,255,.7);
}


[data-theme=dark] .card-header.bg-primary-dark .card-subtitle, [data-theme=dark] .card-header.bg-primary-dark .card-title {
  color: #fff;
  font-size: 20px;
  font-weight: 1000;
}


[data-theme=dark] .custom-checkbox .custom-control-label::after {
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  height: 1.5rem;
  width: 1.5rem;
  background: #f0f0f0bf;
  border-radius: 5px;
}



[data-theme=dark] .btn-flat-primary, [data-theme=dark] .btn-flat-primary:active, [data-theme=dark] .btn-flat-primary:focus, [data-theme=dark] .btn-flat-primary:hover, [data-theme=dark] .btn-outline-primary, [data-theme=dark] .btn-outline-primary:active, [data-theme=dark] .btn-outline-primary:focus, [data-theme=dark] .btn-outline-primary:hover {
  color: #413e3e;
}

.modal-title {
  font-size: 1.12499975rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.4;
  margin: 0;
  color: #fff!important;
}

[data-theme=dark] .modal-content {
  background-color: #adadad00;
}

.modal-content {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  outline: 0;
  pointer-events: auto;
  position: relative;
  vertical-align: baseline;
  width: 100%;
}

[data-theme=dark] .btn {
  background-color: #fbfbfbe0;
  color: #230707;
}


.modal-header:first-child {
  border-radius: 10px;
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 1.5rem;
  background: #ffffff61;
  width: 99%;
}

.flex-column {
  flex-direction: column!important;
  background: #ffffff99;
  padding: 0px 0px 0px 0px;
  width: 163%;
  margin: 10px 10px 10px -23px;
  border-radius: 10px;
}

.col-9 {
  flex: 0 0 68%!important;
  background: #d1cece!important;
  color: #424141!important;
  margin: 8px 0px 0px 35px!important;
 border-radius: 10px!important;
  padding: 10px 10px 10px 10px!important;
}

[data-theme=dark] .nav-pills .nav-link.active {
  color: #2b2a2a;
  font-size: 16px;
  font-weight: 500;
}

.modal.show .modal-dialog {
  transform: scale(1.25);
  background: #36234296;
}

// .modal-open .modal {
//   overflow-x: hidden;
//   overflow-y: auto;
//   background: #00000075;
// }
#edit-modal{
  margin-top: 5%;
  margin-bottom: 5%;
}
[data-theme=dark] .nav-pills .nav-link:active, [data-theme=dark] .nav-pills .nav-link:focus, [data-theme=dark] .nav-pills .nav-link:hover {
  background-color: rgb(255 255 255 / 67%);
}

[data-theme=dark] .btn-success {
  background-color: #4caf50!important;
  color: #fff;
}
btn-success {
  background-color: #4caf50!important;
  color: #fff;
}
[data-theme=dark] .btn-danger {
  background-color: #f44336!important;
  color: #fff;
}
.btn-danger {
  background-color: #f44336!important;
  color: #fff;
}

.modal-content {
 box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0%), 0 4px 5px 0 rgb(0 0 0 / 0%), 0 1px 10px 0 rgb(0 0 0 / 0%)!important;
} 


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 8px;
}
 
::-webkit-scrollbar-thumb {
  background: #04386a; 
  border-radius: 8px;

  .flex-column {
    flex-direction: column!important;
    background: #ffffff99;
    padding: 0;
    width: 163%;
    margin: 10px 10px 10px -23px;
    border-radius: 10px;
    height: 600px;
    overflow-y: scroll;
  }
}

::-webkit-scrollbar-thumb:hover {
  background: #001528; 
}

.flex-column {
    flex-direction: column!important;
    background: #ffffff99;
    padding: 0;
    width: 163%;
    margin: 10px 10px 10px -23px;
    border-radius: 10px;
    height: 248px;
    overflow-y: scroll;
}



 
body {
  background: linear-gradient(90deg,#6a3470 20%,#6a3470 27%,#00a080 100%);
  background-size: cover;
  background-attachment: fixed;

}

.nav-tabs .nav-link.active{
  color: #fff;
}

.nav-tabs .nav-link {
  color: rgba(255,255,255,.7);
}
.form-control, .form-control-file {
  border-color: rgba(255,255,255,.22);
  color: rgba(255,255,255,.7);
}
.song_name{
  margin: 0 100px 12px 1px;
  
}
.song_icon{
  float: right;
}
.song_name a{
 text-decoration: none;
 color: rgb(10 12 12);
}
[data-theme=dark] .btn-danger.active, [data-theme=dark] .btn-danger:active {
  background-color: green !important;
}

[data-theme=dark] .btn-primary {
  background-color: green !important;
}
// .list-group-flush{
//   // width: 329px;
//   // padding: 8px 0px 5px 25px;
//   background-color:transparent;
// }
.list-group-item{
  background-color:transparent;
  width: 100%;
  margin: 0 0 0 3px;
}
.justify-content-between {
  justify-content: space-between !important;
}
